<!--div class="page-title pull-left">{{title}}</div-->

    <ul class="dropdown-menu">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Regular link</a></li>
        <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="#">Disabled link</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another link</a></li>
    </ul>


<small class="page-title-subtle" data-ng-show="subtitle">({{subtitle}})</small>
<div class="widget-icons pull-right" data-ng-if="allowCollapse">
    <a data-cc-widget-minimize></a>
</div>
<small class="pull-right page-title-subtle" data-ng-show="rightText">{{rightText}}</small>
<div class="clearfix"></div>