<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-header">
        <a href="/" class="navbar-brand"><span class="brand-title">Rookies Report to Camp!</span></a>
        <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
    </div>
    <div class="navbar-collapse collapse">
        <div class="pull-right navbar-logo">
            <ul class="nav navbar-nav pull-right">
                <li>
                    <a href="http://www.atomicbytes.com" target="_blank">
                        Created by Matt Sell
                    </a>
                </li>
                <li>
                    <a href="http://www4.myfantasyleague.com/2014/home/13040" target="_blank">
                        <img src="http://www4.myfantasyleague.com/images/new_mfl_logo.png" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>